@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Upright:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100%;
    font-size: 100%;
    background: linear-gradient(to bottom, #B22222, #1C1C1C );
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
}

.cabecalho:hover {
    background: #0000001a;
    cursor: pointer;
    transition: 1.0s;
}

.cabecalho-imagem {
    height: 50px;
    width: 50px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: font-family: 'Cormorant', serif;
    color: #f0e68ca4;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover {
    color: black;
    transition: 0.3s;

}

.conteudo {
    border-top: 0.4px solid rgb(253, 255, 255);
    margin-bottom: 40px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 34px;
    color: #f0e68ca4;
}

.conteudo-principal-escrito-subtitulo {
    font-family:'Cormorant', serif;
    font-weight: 400;
    font-size: 28px;
    color: #f0e68ca4;
}

.conteudo-principal-escrito-botao {
    background: linear-gradient(to bottom, #B22222, #1C1C1C );
    width: 180px;
    height: 40px;
    border-radius: 15px;
    border: none;
    box-shadow: 4px 5px 4px rgba(8, 8, 8, 0.25);
    font-family:'Cormorant', serif;
    font-weight: 400;
    font-size: 28px;
    color: #f0e68ca4;
    cursor: pointer;
}

.conteudo-principal-imagem {
    height: 200px;
    cursor: pointer;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 10px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid rgb(253, 255, 255);
    padding-top: 48px;
    font-family:'Cormorant', serif;
    font-weight: 400;
    font-size: 28px;
    color: #f0e68ca4;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family:'Cormorant', serif;
    font-weight: 400;
    font-size: 20px;
    color: #f0e68ca4;
}

.rodape {
    padding: 20px;
    border-top: 0.4px solid rgb(253, 255, 255);

}

.rodape-imagem {
    height: 60px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width : 390px) {
    .conteudo-principal-escrito-titulo {
        padding: 30px;
    }
    
    .conteudo-principal-escrito-subtitulo {
        display: none;
    }

    .conteudo-principal-escrito-botao {
        display: none;
    }

    .cabecalho-menu {
        gap: 20px;
    }

    .conteudo-secundario {
        padding: 20px;
    }
}
